[Desktop Entry]
Name=calcurus
Comment=Calcurus is a simple calculator written in Rust using the iced framework.
Exec=calcurus
Icon=calcurus
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=io-github-redddfoxxyy-calcurus
